<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p] %d %c %M - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="CONSOLE" />
		</Root>
		<logger name="com.richiez.sample.postgresql.connection" level="TRACE" />
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE"/>
		</Root>
	</Loggers>
</Configuration>